// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article p{
    text-align:justify;
}

div.entry-content p{
    font-size: 16pt;
}

> header {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px; 

    h1 {
        a, a:visited, a:hover {
            color: rgb(50, 50, 50); /* Changed to almost black */
            font-family: $heading-font-family;
        }
    }

}
